{% macro render_field(field) %}
<div class="field">
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        <div class="ui error message">
            <ul class="list">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endmacro %}


{% macro render_item(item) %}
    <div class="ui card">
        <div class="content">
            <div class="header">{{ item.name }}</div>
            <div class="meta">{{ item.category }}</div>
            <div class="description">{{ item.description }}</div>
        </div>
    </div>
{% endmacro %}