{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <div class="ui error message">
            <ul class="list">
                {% for field, messages in form.errors.items() %}
                    {% for message in messages %}
                        <li>{{ field.capitalize() }} - {{ message }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form action="{{ url_for('category_delete', category_name=category.name) }}"
          method="POST" class="ui form">
        {{ form.hidden_tag() }}
        <p>Are you sure you want to delete {{ category.name }}?</p>
        <input class="ui submit button" type="submit" value="Delete">
    </form>
{% endblock %}
