<div class="ui segment">
    <div class="ui header">{{ category.name }}</div>
    <div class="ui info">{{ category.description }}</div>
    <div class="ui pointing vertical menu">
        {% for item in items %}
            {% if loop.first %}
                <a id="category_{{ item.id }}" class="active item"
                   onclick="select_category('{{ item.id }}')">
                    {{ item.name }}
                </a>
            {% else %}
                <a id="category_{{ item.id }}" class="item"
                   onclick="select_category('{{ item.id }}')">
                    {{ item.name }}
                </a>
            {% endif %}
        {% else %}
            <a class="active item disabled">
                Sorry, no items!
            </a>
        {% endfor %}
        <div class="right menu">
            <div class="item">
                <a class="ui basic button" href="{{ url_for('item_add') }}">
                    <i class="icon plus"></i>
                    Add Item
                </a>
            </div>
        </div>
    </div>
    <div class="six wide column">
        <div id="item-details" class="segment">
            SHOULD BE REPLACED
        </div>
    </div>
</div>
