{% extends "base.html" %}

{% block head %}
    <script>
        function activate_menu_item(object) {
            object
                    .addClass('active')
                    .siblings()
                    .removeClass('active');
        }
        function select_category(category_name, id) {
            $.get("/categories/" + category_name, function (data) {
                $("#item-menu").html(data);
            });
            $("#item-details").html('');
            activate_menu_item($(id));
        }
        function select_item(item_id, id) {
            $.get("/items/" + item_id, function (data) {
                $("#item-details").html(data);
            });
            activate_menu_item($(id));
        }
    </script>
{% endblock %}

{% block content %}

    {% if messages and messages.get('success') %}
        <div class="ui success message">
            <p>{{ messages['success'] }}</p>
        </div>
    {% endif %}
    {% if messages and messages.get('error') %}
        <div class="ui error message">
            <p>{{ messages['error'] }}</p>
        </div>
    {% endif %}

    <h1>Categories</h1>
    <div class="ui grid">
        <div class="five wide column">
            <div class="ui pointing vertical menu">
                {% for category in categories %}
                    <a id="category_{{ category.id }}" class="item"
                       onclick="select_category('{{ category.name }}',
                               '#category_{{ category.id }}')">
                        {{ category.name }}
                    </a>
                {% else %}
                    <a class="active item disabled">
                        Sorry, no categories!
                    </a>
                {% endfor %}
                <div class="right menu">
                    <div class="item">
                        <a class="ui basic button" href="{{ url_for('category_add') }}">
                            <i class="icon plus"></i>
                            Add Category
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div id="item-menu" class="segment"></div>
        </div>
        <div class="five wide column">
            <div id="item-details" class="segment"></div>
        </div>
    </div>
{% endblock %}